.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  min-height: 293px;
}

.header__menu {
  padding: 5px;
  text-underline-offset: px;
}

.header__menu ul {
  display: flex;
  gap: 32px;
  padding-bottom: 4px;
  padding-left: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__logo {
  width: 153px;
}

.header__logo-image {
  padding: 8px;
}

.address {
  width: 290px;
  margin-right: 3px;
  margin-bottom: 4px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address.header__address {
  justify-self: end;
  padding: 4px;
  text-align: left;
}

.cover {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  min-height: 757px;
  background: url(../images/cover.jpg) center/cover no-repeat;
}

.cover__title {
  padding: 158px 50px 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 130px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  padding: 5px 0;
  padding-left: 0.3em;
  text-align: center;
}

.aligned-text_right {
  margin-right: -0.3em;
  text-align: right;
}

.cover__description {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 98px 50px 0;
}

.cover__description-text {
  align-self: center;
  padding-right: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  justify-self: end;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.84px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background: #000;
}


.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  padding: 48px 40px 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  padding: 0 40px 48px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-underline-offset: 5px;
}


.card_type_film {
  background: url(../images/card-lot-01.jpg) bottom/cover no-repeat;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) bottom/cover no-repeat;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) bottom/cover no-repeat;
}


.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  align-content: start;
  box-sizing: border-box;
  min-height: 595px;
  margin-top: 154px;
  padding: 0 24px;
}

.about__logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  padding: 46px;
}

.about__title {
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 102px;
}

.about__column {
  justify-self: end;
  width: 693px;
}

.about__text {
  margin-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin-bottom: 23px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  box-sizing: border-box;
  min-height: 180px;
  margin: 146px 50px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}

.address.footer__address {
  justify-self: start;
  text-align: left;
}